*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:white;
  font-weight: bold;
  background-image:url("images/background_2.png");
}

html{
  scroll-behavior:smooth;
}

#name{
  font-size: 125px;
  color:white;
}

#introduction{
  background-image:url("images/tech_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-attachment: fixed;
  z-index: 1;
}

#name h1 {
  margin-bottom: 10px;  
}

section {
  padding: 30px;
  max-width:1250px;
  margin:auto;
}

.adjective{
  font-size: 36px;
  line-height:50px;
  margin-bottom: 10px;
  text-align: center;
  opacity: 0.7;
  color: white;
}

#aboutme{
  background-image:url("images/background_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-attachment: fixed;
  z-index: 1;
}

#interests{
  background-image:url("images/background_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-attachment: fixed;
  z-index: 1;
}

#high_school{
  background-image:url("images/background_3.jpeg");
}

#college{
  background-image:url("images/background_3.jpeg");
}

#skills{
  background-image:url("images/background_2.png");
}

#Projects{
  background-image:url("images/background_3.jpeg");
}

#certifications{
  background-image:url("images/background_2.png");
}

a:hover{
  color:darkorange;
}

a {
  text-decoration:none;
}

.Nav a {
  display: block;
  color: white;
  text-align: left;
  float:left;
  padding: 14px 16px;
  font-weight: bold;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
}

.Nav a:hover {
  background-color:Blue;
}
h1,h3{
  text-align:center;
}

.dylan_pic{
  text-align:center;
}
.pics{
  text-align:center;
}

.title{
  font-size: 32px;
  text-align:center;
}

p{
  font-size: 22px;
  line-height:2;
}

#college .img{
  position: relative;
  top: -40px;
  left: -50px;
}

.img{
  float:right;
  position: relative;
  top: 50px;
}

#certifications{
  text-align:center;
}

#caption{
  text-align:center;
  opacity: 0.7;
}

footer{
  line-height:1;
}

#name a{
  line-height:0;
}

footer h3, footer a{
  color: black;
}

footer h3 a{
  margin:3px;
}

#caption{
  opacity: 0.7;
}

.bold{
  color: Crimson;
}

li {
  font-size:18px;
}

.list{
  font-size: 22px;
  margin-bottom: 20px; 
}

.lists li {
  margin-bottom: 20px;
}

#Webdev{
  float:right;
  position:relative;
  top: -160px;
}

#awsrds{
  float:right;
  position:relative;
  top: -160px;
  margin-right: 50px;
}

#mysqlpic{
  float:right;
  position:relative;
  top: -140px;
  margin-right: 50px;
}

.end{
  background-color:whitesmoke;
}

#collegepics{
  text-align:center;
}

#tools{
  text-align:right;
  position: relative;
  left: 100px;  /* adjust this value as needed */
}

@media all and (max-width: 600px) {
  img[src *= "images/SQL_image.jpg"]{
    visibility: hidden;
}
}





