section {
    border: 5px ridge azure;
    border-radius: 5px;
    padding: 30px;
    background-color:#141E30;
    max-width:1250px;
    margin:auto;
  }

  p,h1,h3,strong,a{
    background-color:#141E30;
  }

  *{
    background-color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
  }


h1{
    font-size:64px;
    text-align:center;
}

p{
    font-size: 22px;
    line-height:2;
}

figure{
    text-align:center;
    background-color:#141E30;
}

h3{
    font-size: 32px;
}

.bold{
    text-decoration:none;
}

a,strong{
    text-decoration:none;
    color:wheat;
    font-weight:bold;
}

#hint{
    opacity:0.7;
}

.lwk{
    opacity:0.7;
}

